/* CSS Document */

#dengluzhuce{ background-color:#64A131; width:145px; height:40px}
#dengluzhuce1{
	background-color: #64A131;
	color: #FFF;	

}
#goumaijiaru{
	background-color: #64A131;
	width: 145px;
	height: 38px;
	color: #FFF;border-radius:4px;
	
	border-style:hidden; font-family: arial;
	
	
}