ul{padding: 0;margin: 0;list-style:none;}
h6{padding:0;margin: 0;}
p{margin: 0;padding: 0;}
.tr{text-align: right;}
/*鍏憡鍒楄〃*/
.list-content{width: 1280px;margin: 48px auto 0;}
.list-content .title{border-bottom:1px solid #64a131;}
.list-content .title h6{font-size: 18px;background: #64a131;font-weight: normal;color: #fff;height: 32px;width: 124px;text-align: center;line-height: 32px;}
.list-content .list-detail{margin-top: 58px;}
.list-content .list-detail ul li{overflow: hidden;}
.list-content .list-detail ul li .time{padding-right: 12px;width: 96px;}
.list-content .list-detail ul li .pic{display: inline-block;width: 23px;height: 151px;background: url(..img/list.png) no-repeat;margin-right: 35px;}
.list-content .list-detail ul li .desc{border:1px solid #ddd;width: 1126px;margin-top: 11px;padding: 20px 35px;*width: 1042px;}
.list-content .list-detail ul li .desc .caption{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.list-content .list-detail ul li .desc .caption a{font-size: 18px;color: #555;text-decoration: none;outline: none;}
.list-content .list-detail ul li .desc .main{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.list-content .list-detail ul li .desc .main a{font-size: 14px;color: #999;text-decoration: none;outline: none;}

/*缈婚〉*/
.btn-toolbar{width:1280px;margin-top:56px;margin-left: 0;}
.btn-toolbar .page-content{text-align: center; margin:0 auto;padding-bottom: 6px;padding-top:6px;background-color:#f1f1f1}
.btn-toolbar .page-content>a{color: #555;cursor: pointer;}
.btn-toolbar .page-content>a:hover{color:#64a131;}
.btn-toolbar .page-content .last{width:65px;margin-left:18px;display: inline-block;}
.btn-toolbar .page-content>span{cursor: pointer;}
.btn-toolbar .page-content .next{width:65px;margin-right:18px;display: inline-block;}
.btn-toolbar .page-content .last a,.btn-toolbar .page-content .next a{display:block;width:65px;height:20px;font-size:14px;line-height:20px;margin-top:5px;font-family:'Hiragino Sans GB','Microsoft YaHei',sans-serif;color:#555555;cursor:pointer}
.btn-toolbar .page-content .last a:hover,.btn-toolbar .page-content .next a:hover{color:#64a131;}
.btn-toolbar .page-content .pagenum{display: inline-block; margin-top:3px;}
.btn-toolbar .page-content .pagenum a{display: inline-block;height:26px;margin-left:15px;margin-right:15px;font-size:14px;font-family:'Hiragino Sans GB','Microsoft YaHei',sans-serif;line-height:26px;text-align:center;color:#555555;text-decoration:none}
.btn-toolbar .page-content .pagenum a:hover{color:#64a131;}
.btn-toolbar .page-content .pagenum a.cur{min-width:26px;border-radius: 13px;padding-left:3px;padding-right: 3px; height:26px;line-height: 28px\9\0; color:#ffffff;background:#64a131;}
.btn-toolbar .page-content .pagenum .btn-group{margin:0 12px;}


/*鍏憡鍒楄〃*/
.fruit{width:1280px;margin: 48px auto 0;}
.fruit .title{overflow: hidden;margin-bottom: 20px;}
.fruit .title h6{color: #999;font-size: 14px;font-weight: normal;}
.fruit .title a{text-decoration: none;outline: none;color: #555;font-size: 14px;}
.fruit .title h6 a{color: #999;}
.fruit .title h6 span{color: #555;}
.fruit .list-detail{background: #eee;padding: 48px 84px;}
.fruit .list-detail h5{font-size: 24px;color: #64a131;text-align: center;}
.fruit .list-detail p{font-size: 14px;color: #555;padding-bottom: 10px;}
/*pad閫傞厤*/
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape){
	body{width:100%;height:100%}
	.list-content{width:98%;}
	.list-content .list-detail{margin-top: 50px;} 
	.list-content .list-detail ul li .desc{width: 84%;padding: 15px 20px;}
	.btn-toolbar{width: 100%;}

	/*鏋滃洯鍏憡*/
	.fruit{width: 98%;}
	.fruit .list-detail{width: 100%;}
	.fruit .list-detail{padding: 48px 60px;}
}

@media only screen and (max-device-width:768px) and (orientation:portrait){
	body{width:100%;height:100%}
	.list-content{width:98%;}
	.list-content .list-detail{margin-top: 50px;} 
	.list-content .list-detail ul li .pic{margin-right: 20px;}
	.list-content .list-detail ul li .desc{width: 81%;padding: 15px 20px;}
	.btn-toolbar{width: 100%;}
	.fruit .list-detail{padding: 48px 40px;}

	/*鏋滃洯鍏憡*/
	.fruit{width: 98%;}
	.fruit .list-detail{width: 100%;}

}/* CSS Document */

